In [ ]:
upper = 10
lower = 20
height = 5

# 上辺と下辺を足す
total_base = upper + lower

# (上辺 + 下辺) * 高さを計算する
area_temp = total_base * height

# それを2で割って最終的な面積を求める
area = area_temp / 2

# 結果
print(f"台形の面積は{area}です。")

台形の面積は75.0です。

In [7]:
# リストの作成
array = ["月曜日は晴れです","火曜日は雨です","水曜日は晴れです","木曜日は晴れです","金曜日は曇りです","土曜日は曇りのち雨です","日曜日は雷雨です"]
print(array[2])


dictionary = {'mon': "晴れ", 'tue': "雨", 'wed': "晴れ", 'thu': "晴れ", 'fri': "曇り", 'sat': "曇りのち雨", 'sun': "雷雨"}

# dictionaryを取り出して表示
print(dictionary['wed'])

水曜日は晴れです
晴れ

In [8]:
num = 50

# 変数numが10より大きいなら、文字列を出力する
if 10 < num:
    print("変数numは10より大きいです")

# 変数numが20より小さいなら、文字列を出力する
if num < 20:
    print("変数numは20より小さいです")

変数numは10より大きいです

In [1]:
range(3)
#要素：0 1 2

range(6, 9)
#要素：6 7 8

range(5, 11, 2)
#要素：5 7 9

range(5, 11, 2)

In [2]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(1, 11):
    print(i)

    #ループ変数の値が5であれば、break文で繰り返し処理を強制終了する
    if i == 5:
        break

1
2
3
4
5

In [11]:
array = ["水","金","地","火","木","土","天","海","冥"]

for _ in range(2):
    for element in array:
        print(element)

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [10]:
# リストを定義
array = ["水", "金", "地", "火", "木", "土", "天", "海", "冥"]

# カウンターを使って2回繰り返す
count = 0
while count < 2:
    for element in array:
        print(element)
    count += 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥